@font-face {
  font-family: 'Geist';
  src: url('../../assets/font/Geist-1.3.0/statics-ttf/Geist-Light.ttf') format('truetype');
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Geist';
    
  }
  
  .formulaire {
    width: 100%;
    max-width: 91%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #00000099;
    margin-bottom: 50px;
  }
  
  .formulaire h1 {
    text-align: left;
    font-size:50px;
    margin-left: 20px;
  }
  
  .formulaire input {
    width: 20%;
    padding: 10px;
    margin: 10px ;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .editor-container {
    margin: 20px ;
    width: 96%;
  }
  
  .editor-container .ck-editor__editable {
    
    min-height: 200px;
    border: 1px solid #dddcdc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .formulaire .envoyer {
    display: block;
    width: 20%;
    padding: 10px;
    margin-left:40%  ;
    padding-left: 0;
    padding-right: 0;
    margin-right: 40%;
    margin-top:10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .formulaire .envoyer:hover {
    background-color: #111111;
  }
  
  
 